<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ricardo Reis</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="images/tabfavicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <div class="topcontainer">
    <img class="oilyriky0" src="images/oilyriky.png" alt="ricardo-profile-pic">
    <img class="top-cloud" src="images/cloud.png" alt="cloud-image">
    <h1>I´m Ricardo.</h1>
    <h3 class="awebdev">a chef & aprentice coder.</h3>
    <img class="bottom-cloud" src="images/cloud.png" alt="cloud-image">
    <img src="images/mountain.png" alt="mountain-image">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="oilyriky" src="images/oilyriky.png" alt="ricardo-profile-pic">
      <h2>Hello!</h2>
      <h3>I am chef who changed careers and is currently learning how to code</h3>
      <p>Currently learning to develop web pages and android apps.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="laptop" src="images/laptop.png" alt="skills-photo">
        <h3>Changing careers @38</h3>
        <p>Learning web development, this is my second project. Hoping to get really good at programming and eventually make my own AI projects.</p>
      </div>
      <div class="skill-row">
        <img class="food" src="images/food.png" alt="skills-photo">
        <h3 class="skilltitle">Cooking and Eating</h3>
        <p>My background is chefing and that´s what ive been doing for many years. I love that even though I´m leaving a very dear industry, i will never stop doing what i love most. Cause we´ve gotta eat right?!</p>
      </div>
    </div>
    <hr class="hrules">
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you would like me to cook you some code</h3>
      <p style="margin-bottom: 40px;">Let´s cook, let´s eat, together let´s create something beautiful!</p>
      <a class="btn" href="https://www.linkedin.com/in/ricardo-reis-2707362/">CONTACT ME</a>
    </div>
  </div>

  <div class="bottomcontainer">
    <a class="footer-link" href="https://www.linkedin.com/in/ricardo-reis-2707362/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/RicMReis">Twitter</a>
    <a class="footer-link" href="https://www.facebook.com/ricardoreisenator">Facebook</a>
    <p class="copyright">© 2020 Ricardo Reis.</p>
  </div>



</body>

</html>
